<div class="setting-layout">
    {% include "setting/setting-nav.html" %}
  <section class="setting-content">
    <header>
      <h2>Profile</h2>
      <p>This is how others will see you on the site.</p>
    </header>
    <div class="setting-separator" role="separator"></div>
    <form class="setting-form" method="post">
      {% csrf_token %}
      <label
        >Username<input
          name="username"
          value="{{ profile.name }}"
          placeholder="Username"
      /></label>
      <p>
        This is your public display name. You can only change this once every 30
        days.
      </p>
      <label
        >Email<select name="email">
          <option>{{ profile.email }}</option>
        </select></label
      >
      <p>You can manage verified email addresses in your email settings.</p>
      <label
        >Bio<textarea
          name="bio"
          rows="4"
          placeholder="Tell us a little bit about yourself"
        >
{{ profile.bio }}</textarea
        >
      </label>
      <p>You can @mention other users and organizations to link to them.</p>
      <label>URLs<input name="url" value="https://edututor.local" /></label>
      <p>Add links to your website, blog, or social media profiles.</p>
      <button type="button" class="setting-button setting-button--secondary">
        Add URL
      </button>
      <button type="submit" class="setting-button">Update profile</button>
    </form>
  </section>
</div>
