{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password | EduTutor</title>
    <script src="{% static 'admin_ui/js/theme-init.js' %}?v=1"></script>
    <link rel="stylesheet" href="{% static 'admin_ui/css/auth.css' %}?v=5">
</head>
<body>
    {% include "auth/forgot-password-form.html" %}
    <script src="{% static 'admin_ui/js/auth.js' %}?v=3"></script>
</body>
</html>
