{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | EduTutor</title>
    <script src="{% static 'admin_ui/js/theme-init.js' %}?v=1"></script>
    <link rel="stylesheet" href="{% static 'admin_ui/css/auth.css' %}?v=6">
</head>
<body>
    {% include "auth/sign-in-form.html" %}
    <script src="{% static 'admin_ui/js/password-toggle.js' %}?v=2"></script>
    <script src="{% static 'admin_ui/js/sign-in.js' %}?v=6"></script>
</body>
</html>
